
body {
  background-color: #fff;
  color: #000;
}

a {
  color: #069;
}
a:visited {
  color: #996600;
}

span.codedirection { unicode-bidi:bidi-override; direction: rtl; }
span.displaynone { display:none; }
span.joshtime:after { content: "josh\40InTheKeyOfJesus.com"; }

.links {
  width: 694px; 
  color: #000;
  padding: 3px;
}


.datetime {
  color: #ccc;
  font-size: 80%;
  margin-top: 10px;
}
